<p>Select Key: </p>

<form method="POST">
    <input type="radio" id="C" name="key_id" value=0>
    <label for="C">C</label>

    <input type="radio" id="C#" name="key_id" value=1>
    <label for="C#">C#</label>

    <input type="radio" id="D" name="key_id" value=2>
    <label for="D">D</label>

    <input type="radio" id="D#" name="key_id" value=3>
    <label for="D#">D#</label>

    <input type="radio" id="E" name="key_id" value=4>
    <label for="E">E</label>

    <input type="radio" id="F" name="key_id" value=5>
    <label for="F">F</label>

    <input type="radio" id="F#" name="key_id" value=6>
    <label for="F#">F#</label>

    <input type="radio" id="G" name="key_id" value=7>
    <label for="G">G</label>

    <input type="radio" id="G#" name="key_id" value=8>
    <label for="G#">G#</label>

    <input type="radio" id="A" name="key_id" value=9>
    <label for="A">A#</label>

    <input type="radio" id="A#" name="key_id" value=10>
    <label for="A#">A#</label>

    <input type="radio" id="B" name="key_id" value=11>
    <label for="B">B</label>

    <input type="submit" value="submit">
</form>