<p>Select Chords to Target:</p>

<form>
    <input type="checkbox" id="first" name="trgt_chords" value=1>
    <label for="first">I</label>

    <input type="checkbox" id="second" name="trgt_chords" value=2>
    <label for="second">II</label>

    <input type="checkbox" id="third" name="trgt_chords" value=3>
    <label for="third">III</label>

    <input type="checkbox" id="fourth" name="trgt_chords" value=4>
    <label for="fourth">IV</label>

    <input type="checkbox" id="fifth" name="trgt_chords" value=5>
    <label for="fifth">V</label>

    <input type="checkbox" id="sixth" name="trgt_chords" value=6>
    <label for="sixth">VI</label>

    <input type="checkbox" id="seventh" name="trgt_chords" value=7>
    <label for="seventh">VII</label>

</form>