{% extends 'base.html' %}
{% block content %}
    <p>Please select these options and press continue</p>
    <h4>Select Key: </h4>

    <form method="POST">
        <input type="radio" id="C" name="key_id" value=0>
        <label for="C">C</label>

        <input type="radio" id="C#" name="key_id" value=1>
        <label for="C#">C#</label>

        <input type="radio" id="D" name="key_id" value=2>
        <label for="D">D</label>

        <input type="radio" id="D#" name="key_id" value=3>
        <label for="D#">D#</label>

        <input type="radio" id="E" name="key_id" value=4>
        <label for="E">E</label>

        <input type="radio" id="F" name="key_id" value=5>
        <label for="F">F</label>

        <input type="radio" id="F#" name="key_id" value=6>
        <label for="F#">F#</label>

        <input type="radio" id="G" name="key_id" value=7>
        <label for="G">G</label>

        <input type="radio" id="G#" name="key_id" value=8>
        <label for="G#">G#</label>

        <input type="radio" id="A" name="key_id" value=9>
        <label for="A">A#</label>

        <input type="radio" id="A#" name="key_id" value=10>
        <label for="A#">A#</label>

        <input type="radio" id="B" name="key_id" value=11>
        <label for="B">B</label>

        <h4>Please Select a Scale Shape</h4>

        <input type="radio" id="Major" name="scale_shape" value="M">
        <label for="Major">Major</label><br>
        <input type="radio" id="Minor" name="scale_shape" value="m">
        <label for="css">Minor</label><br>

        <h4>Please Select Target Chords</h4>

        <input type="checkbox" id="first" name="trgt_chords" value=1>
        <label for="first">I</label>

        <input type="checkbox" id="second" name="trgt_chords" value=2>
        <label for="second">II</label>

        <input type="checkbox" id="third" name="trgt_chords" value=3>
        <label for="third">III</label>

        <input type="checkbox" id="fourth" name="trgt_chords" value=4>
        <label for="fourth">IV</label>

        <input type="checkbox" id="fifth" name="trgt_chords" value=5>
        <label for="fifth">V</label>

        <input type="checkbox" id="sixth" name="trgt_chords" value=6>
        <label for="sixth">VI</label>

        <input type="checkbox" id="seventh" name="trgt_chords" value=7>
        <label for="seventh">VII</label>

        <br><br>
        <input type="submit" value="Continue">
    </form>
{% endblock %}